<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <div class="ui center aligned grid ui basic segment">
    <h2 class="ui blue header">
      <div class="content">
        <h1>Welcome {Admin}</h1>
      </div>
      <div>
        <button class="ui button">
          View Visitors List
        </button>
      </div>
      <div>
        <button class="ui button">
          View Owners
        </button>
      </div>
      <div>
        <button class="ui button">
          View Confirmed Properties
        </button>
      </div>
      <div>
        <button class="ui button">
          View Unconfirmed Properties
        </button>
      </div>
      <div>
        <button class="ui button">
          View Approved Animals and Crops
        </button>
      </div>
      <div>
        <button class="ui button">
          View Pending Animals and Crops
        </button>
      </div>

    </h2>

  </div>

</body>

</html>
