<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class="ui center aligned grid ui basic segment">
    <div class="ui">
        <a href="/">
            <button class="ui labeled icon button active">
                <i class="left chevron icon"></i>
                Back
            </button>
        </a>
    </div>

    <h2 class="ui blue header">
        <div class="content">
            <h1>Pending Animals / Crops</h1>
        </div>
    </h2>

    <form action="/admin/pending-items" method="GET" class="ui form">
        <div class="field">
            <label>Search</label>
            <select name="col" class="ui fluid dropdown">
                <option value="Name">Name</option>
                <option value="Type">Type</option>
            </select>
        </div>
        <div class="field">
            <div class="ui category search">
                <div class="ui icon input">
                    <input name="pattern" class="prompt" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </form>

    <div>
        TODO: ADD TO APPROVED LIST
    </div>

    <table class="ui sortable celled striped table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < items.length; i++) { %>
        <tr>
            <td ><%= items[i].Name %></a></td>
            <td ><%= items[i].Type %></td>
        </tr>
        <% } %>
        </tbody>
    </table>

</div>
</body>
</html>