<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <div class="ui center aligned grid ui basic segment">
        <div class="ui">
            <a href="/">
                <button class="ui labeled icon button active">
                    <i class="left chevron icon"></i>
                    Back
                </button>

            </a>
        </div>

        <h2 class="ui blue header">
            <div class="content">
                <h1>All Visitors In System</h1>
            </div>
        </h2>

        <form action="/admin/view-visitors" method="GET" class="ui form">
            <div class="field">
                <label>Search</label>
                <select name="col" class="ui fluid dropdown">
                    <option value="Username">Username</option>
                    <option value="Email">Email</option>
                    <option value="visits">Logged Visits</option>
                </select>
            </div>
            <div class="field">
                <div class="ui category search">
                    <div class="ui icon input">
                        <input name="pattern" class="prompt" type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </form>

        <table class="ui sortable celled table">
            <thead>
            <tr>
                <th data-sort-column="Username" data-sort-asc="true">Username</th>
                <th data-sort-column="Email" data-sort-asc="true">Email</th>
                <th data-sort-column="Visits" data-sort-asc="true">Logged Visits</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < visitors.length; i++) { %>
            <tr>
                <td ><a href="/admin/visitor/<%= visitors[i].Username %>"><%= visitors[i].Username %></a></td>
                <td ><%= visitors[i].Email %></td>
                <td ><%= visitors[i].visits %></td>
            </tr>
            <% } %>
            </tbody>
        </table>

    </div>
</body>

<script>
  $(document).ready(function() {
    $('tr th').click(function(e) {
      var $this = $(this);
      const sortCol = $this.data('sortColumn');
      const isAsc = $this.data('sortAsc');
      const sortOrder = isAsc ? 'asc' : 'desc';
      $this.data('sortAsc', !isAsc);
      $.ajax({
        url: `/admin/visitors/sort?sortBy=${sortCol}&sortOrder=${sortOrder}`,
        method: 'GET',
        success: function(data) {
          let visitors = data.visitors;
          let tableDOM = `<tbody>`;
          for (var i = 0; i < visitors.length; i++) {
            tableDOM += `
                <tr>
                  <td><a href="/admin/visitor/${visitors[i].Username}">${visitors[i].Username}</a></td>
                  <td>${visitors[i].Email}</td>
                  <td>${visitors[i].visits}</td>
                </tr>
            `;
          }
          $('tbody').replaceWith(tableDOM + '</tbody>');
        },
        error: function(xhr) {

        }
      });
    });

  });
</script>
</html>
