<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>
    <div class="ui center aligned grid ui basic segment">
        <h2 class="ui blue header">
            <div class="content">
                <h1>All Visitors In System</h1>
            </div>
        </h2>
        <table class="ui sortable celled table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Logged Visits</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < visitors.length; i++) { %>
            <tr>
                <td ><a href="/admin/visitor/<%= visitors[i].Username %>"><%= visitors[i].Username %></a></td>
                <td ><%= visitors[i].Email %></td>
                <td ><%= visitors[i].visits %></td>
            </tr>
            <% } %>
            </tbody>
        </table>



    </div>
</body>
</html>