<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>

<body>
  <div class="ui bottom attached segment pushable">
    <div class="ui visible inverted left vertical sidebar menu">
      <a class="item">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item" href="/logout">
        <i class="sign out alternate icon"></i>
        Logout
      </a>
    </div>
    <div class="pusher">
      <div class="ui basic segment">
        <h3 class="ui header">Welcome to Admin page!</h3>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</body>
</html>
