<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>

<body>
  <main>
    <div class="ui container">
      <h1>Welcome to Atlanta Gardens, Farms, and Orchards</h1>
      <div>
        <form action="/login" method="post" class="ui form">
          <div class="field">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
          </div>
          <button class="ui button">Login</button>
        </form>
        <div class="ui divider"></div>
        <div>
          <a href="">
            <button class="ui button">New Owner Registration</button>
          </a>
          <a href="">
            <button class="ui button">New Visitor Registration</button>
          </a>
        </div>
      </div>
    </div>

  </main>
</body>
</html>
