<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <main>
    <h1>Welcome to Atlanta Gardens, Farms, and Orchards</h1>
    <div class="ui three buttons">
      <button class="ui active button">Atlanta Gardens</button>
      <button class="ui button">Farms</button>
      <button class="ui button">Orchards</button>
    </div>
  </main>
</body>
</html>
