<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <main class="ui container">
    <h1>New Owner Registration</h1>
    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <input for="" type="email" name="first-name" placeholder="Email">
      </div>
      <div class="field">
        <label>Username</label>
        <input for="" type="text" name="username" placeholder="Username">
      </div>
      <div class="field">
        <label>Password</label>
        <input for="" type="password" name="password" placeholder="Password">
      </div>
      <div class="field">
        <label>Confirm Password</label>
        <input for="" type="password" name="confirm-password" placeholder="Confirm Password">
      </div>
      <div class="field">
        <label>Property Name</label>
        <input for="" type="text" name="property-name" placeholder="Property Name">
      </div>
      <div class="field">
        <label>Street Address</label>
        <input for="" type="text" name="street-address" placeholder="Street Address">
      </div>
      <div class="ui three column grid">
        <div class="field">
          <label>City</label>
          <input for="" type="text" name="city" placeholder="City">
        </div>
        <div class="field">
          <label>Zip</label>
          <input for="" type="number" name="zip" placeholder="Zip">
        </div>
        <div class="field">
          <label>Acres</label>
          <input for="" type="number" name="acres" placeholder="Acres">
        </div>
      </div>
      <div class="field">
        <label>Property Type</label>
        <select for="" name="property-type">
          <option value="">Select</option>
          <option value="Garden">Garden</option>
          <option value="Farm">Farm</option>
          <option value="Orchard">Orchard</option>
        </select>
      </div>
      <div class="field">
        <label>Crop</label>
        <select for="" name="crop">
          <option value="">Select</option>
          <option value="fruit">fruit</option>
          <option value="vegetable">vegetable</option>
          <option value="nut">nut</option>
          <option value="flower">flower</option>
        </select>
      </div>
      <div class="field">
        <label>Public</label>
        <select for="" name="public">
          <option value="">Select</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="field">
        <label>Commercial</label>
        <select for="" name="commercial">
          <option value="">Select</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <button class="ui primary button" type="submit">Submit</button>
    </form>
  </main>
</body>
</html>
