<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <main class="ui container">
    <h1>New Visitor Registration</h1>
    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <input for="" type="email" name="first-name" placeholder="Email">
      </div>
      <div class="field">
        <label>Username</label>
        <input for="" type="text" name="username" placeholder="Username">
      </div>
      <div class="field">
        <label>Password</label>
        <input for="" type="password" name="password" placeholder="Password">
      </div>
      <div class="field">
        <label>Confirm Password</label>
        <input for="" type="password" name="confirm-password" placeholder="Confirm Password">
      </div>
      <button class="ui primary button" type="submit">Submit</button>
    </form>
  </main>
</body>
</html>
