<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <div class="ui center aligned grid ui basic segment">
    <h2 class="ui blue header">
      <div class="content">
        <h1>Visit History</h1>
      </div>
    </h2>

  </div>

</body>

</html>
