<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <div class="ui center aligned grid ui basic segment">
    <h2 class="ui blue header">
      <div class="content">
        <h1>Visit History</h1>
      </div>
    </h2>
    <table class="ui sortable celled table">
      <thead>
        <tr>
          <th data-sort-column="Name" data-sort-asc="true">Name</th>
          <th data-sort-column="Date" data-sort-asc="true">Date Logged</th>
          <th data-sort-column="Rating" data-sort-asc="true">Rating</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < visits.length; i++) { %>
          <tr>
            <td ><a href="/properties/<%= visits[i].ID %>"><%= visits[i].Name %></a></td>
            <td ><%= visits[i].Date %></td>
            <td ><%= visits[i].Rating %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

</body>

<script>
  $(document).ready(function() {
    $('tr th').click(function(e) {
      var $this = $(this);
      const sortCol = $this.data('sortColumn');
      const isAsc = $this.data('sortAsc');
      const sortOrder = isAsc ? 'asc' : 'desc';
      $this.data('sortAsc', !isAsc);
      $.ajax({
        url: `/visitor/history/sort?sortBy=${sortCol}&sortOrder=${sortOrder}`,
        method: 'GET',
        success: function(data) {
          let history = data.history;
          let tableDOM = `<tbody>`;
          for (var i = 0; i < history.length; i++) {
            tableDOM += `
                <tr>
                  <td><a href="/properties/${history[i].ID}">${history[i].Name}</a></td>
                  <td>${history[i].Date}</td>
                  <td>${history[i].Rating}</td>
                </tr>
            `;
          }
          $('tbody').replaceWith(tableDOM + '</tbody>');
        },
        error: function(xhr) {

        }
      });
    });

  });
</script>

</html>
