<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <style media="screen">
    form {
      text-align: left;
    }
  </style>
</head>
<body>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui blue header">
        <div class="content">
          <h1>Welcome to Atlanta Gardens, Farms, and Orchards</h1>
          <h3>New Visitor Registration</h3>
        </div>
      </h2>

      <form action="/visitor-register" method="post" class="ui form blue">
        <div class="field">
          <label>Email</label>
          <input type="email" name="email" placeholder="Email" required>
        </div>
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <input type="password" name="confirm-password" placeholder="Confirm Password" required>
        </div>
        <button class="ui fluid large blue submit button" type="submit">Sign up</button>

        <div class="ui error message"></div>

      </form>

      <div class="ui message">
        <a href="/login">Go Back</a>
      </div>

    </div>
  </div>


</body>
</html>
